<h1>詳細画面</h1>
<%= link_to '一覧へ', "/" %>

<div>
    <h3>Id:
    <span><%= @task.id %></span></h3>
</div>
<div>
    <h3>タスク名:
    <span><%= @task.name %></span></h3>
</div>
<div>
    <h3>詳細:
    <span><%= @task.description %></span></h3>
</div>
<div>
    <h3>登録日時:
    <span><%= @task.created_at %></span></h3>
</div>
<div>
    <h3>更新日時:
    <span><%= @task.updated_at %></span></h3>
</div>

<%= link_to '編集', edit_task_path(@task.id) %>
<%= link_to '削除', task_path(@task), method: :delete %> 